body {
	background-color: black;
	background-size: 100%;
  padding: 0;
  margin: 0;
  font-family: cursive;
 }
header{
	padding: 15px 0;
	margin:0;
	color: #fff;
	border-bottom: solid #333 1px;
	background-color: #4d4d4d;
}
.logo{
	width: 80px;
	height: 80px;
}
nav ul{
	list-style-type: none;
	padding-top: 34px;
	margin:0 -15px 0 0;
	float: right;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	white-space: nowrap;
}
nav li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
nav li:hover a {
	background: #585858;
}
nav a {
	text-decoration: none;
	padding: 10px 15px;
	color:#eee;
	text-shadow:2px 2px 4px #000;
}
nav a:hover{
	color: #fff;
}
.img1{
	width:200px;
	height:200px;
	margin: 20px;
	padding: 3px;
	border: solid #999999 1px;
 }
h4 {
	text-align: center;
	font-family: cursive;
}
.gray{
	background-image:url("https://secure.static.tumblr.com/ed6365a08b9375798c1c9350af3a06a5/t9b1giq/7R4npwpom/tumblr_static_tumblr_static_3i2l1i3c7x8g04w4gs4gcgwg8_640.gif"); 
	background-size: 100%;
    border-top: solid #111 1px;
    border-bottom: solid #bbb 1px;
    padding: 10px;
    margin-bottom: 40px;
}
.chico{
font-size: 12px;
}
h3{
	font-size: 20px;
	font-family: cursive;
}
.img2{
	height: 110px;
	width:110px ;
	padding: 3px;
	border: solid 1px #ccc;
}
.pad h5 {
	font-size: 13px;
	line-height: 18px;
	margin: -5px 0 5px 0;
	font-weight: 400;
}
.pad{
	text-align: center;
}
.pad .col-2{
	margin-right: 10px;
	margin-bottom: 20px;
}
footer {
	padding: 20px 35px;
	background-image: url("http://31.media.tumblr.com/53eb0b8db114c9065c9ee8e382b837e5/tumblr_najbrk5NSV1txcb93o1_500.gif");
	color: #b3b3b3;	
	font-size: 17px;
}

.linksb {
  text-align: center;
  margin: 15px;
  font-size: 15px;	
}

.copyr {
  margin: 20px ;
  text-align: center;
  color: #404040;
  font-size: 12px;
}

footer a {
  color: #ff3398;
}

footer a:hover {
	color: #b30059;
}
.widgets{
	position: relative;
	top:-1000px;
	font-size: 14px;
	padding: 5px;
	color: #8c8c8c;
	font-family: cursive;
}
hr {
	border-top: .5px solid #bfbfbf;
	margin-bottom: 5px;
}
.icons{
	padding-bottom: 7px;
}
.side1, .side2{
	position: relative;
	left:-30px;
	margin-bottom: 15px;
}
#icons{
	width:35px;
	height: 35px;
	margin-right: 8px;
}
.first{
	margin-left: -70px;
}
.side1 a, .side2 a{
	font-size: 14px;
	text-transform: uppercase;
	white-space: nowrap;
}	
a {
	color: #99004d;
	text-decoration: none;
	text-shadow:1px 1px #000;
}
.video
{
	position: relative;
	top:30px;
	border:3px dotted #99004d;
	width: 425px;
	height: 323px;
}
section{
	margin-bottom: -180px;
}